*{
    padding:0;
    margin:0;
    font-family: sans-serif;
}
.Top{
    background-color: rgb(31,34,53);
    height: 70px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 0.5px solid goldenrod;
}
.name{
    font-size:20px;
    letter-spacing:2px;
    font-weight:bold
}
.nav{
    display: flex;
    flex-wrap: wrap;
}
.nav > a{
    color: beige;
    text-decoration: none;
    font-size: 18px;
    padding:15px;
    letter-spacing:4px
}
.nav > a:hover{
    color: lightcoral;
    text-decoration:underline;
    text-underline-position:under;
    text-decoration-style: dotted;
    
}
@media only screen and (max-width: 480px) {
    .nav > a {
        font-size: 16px;
        padding: 8px;
    }
}
/******HEADING******/

.heading{
    background-color: rgb(31,34,53);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.socialmedia{
    margin: 15px 0px;
}
.socialmedia>a>i{
    padding:15px;
    margin:0px 5px;
    border-radius: 20px;
    color: white;
    border: 2px solid goldenrod;
    font-size:30px;
    transition: all 0.7s ease;

}
.socialmedia>a>i:hover{
    background-color:white;
    border: 2px solid transparent;
    color:rgb(31,37,58);
    padding: 25px;
    font-size:35px;

}
.left >h2 {
    color: white;
    font-size:35px;
    margin:10px 0px;

}
.left >p {
    color: white;
    font-size:20px;
    margin:5px 0px;
    width: 500px;
}
.GitHub{
    width: 180px;
    height: 50px;
    border: 2px solid goldenrod;
    background-color: transparent;
    color: white;
    font-size:18px;
    border-radius: 20px;
    font-weight: bold;
    margin:7px 0px;
    transition: all 0.7s ease;
}
.GitHub:hover{
    background-color:white;
    color:rgb(31,37,58);
    border: 2px solid transparent;
    cursor: pointer;
}
 /****RIGHT***/

.right{
    border:2px dotted white;
    border-radius:300px;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    transition: all 0.5s ease;
}
.right:hover{
    border: 3px solid goldenrod;
    
}