* {
    padding: 0;
    margin: 0;
}
.main {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

/*** NAVBARK******/

.nav {
    background-color:#2C3333;
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.pages{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.pages a{
    font-size: 1.2rem;
    text-decoration: none;
    margin: 10px;
    color: white;
    font-weight: 300;

}
.pages a:hover{
    cursor: pointer;
    transition: 0.4s;
    opacity: 0.5;
}
.nav p{
    font-size: 1.5rem;
    text-decoration: none;
    margin: 10px;
    color: white;
    font-weight: 300;
}
.service {
    height: 78vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.service-title {
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#2C3333;
    text-align: center;
}
.service-title p {
    font-size: 3.0em;
    font-weight: 300;
}
.service-body {
    display: flex;
    height: 32vh;
    width: 100%;    
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.service-box {
    width: 22%;
    height: 85%;
    color: #2C3333;
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
}

.service-box i {
    background-color: #2C3333;
    color: white;
    height: 8vh;
    width: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.4em;
    margin-bottom: 14px;
}

.service-box p {
    font-weight: 300;
}
.service-box-service{
    font-size: 1.5em;
    margin-bottom: 10px;
}


/***************************************/

.quote {
    height: 105vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2C3333;
}
.quote-title {
    height: 10vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.quote-title p {
    font-size: 3.2em;
    font-weight: 300;
    color: white;
}

.quote-body {
    display: flex;
    width: 100%;
    height: 75vh;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.quote-box {
    width: 16%;
    padding: 10px;
    height: 75%;
    color: #2C3333;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #eae7dc;
    border-radius: 15px;
    background-color: #ffffff;
}
.quote-box i {
    margin-top: 15px;
    margin-bottom: 10px;
    height: 10Vh;
    width: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2.0em;
    color: #2C3333;
    border: 2px solid #2C3333;
}
.quote-box p {
    margin: 8px;
}
.quote-box-title {
    font-weight: 300;
    font-size: 1.8em;
    margin-bottom: 10px;
}
.quote-box-at {
    font-weight: 300;
    color: #ff3636;
}
.quote-box-price {
    font-weight: 300;
    margin: 4px;
    color: #ff3636;
    font-size: 3.5em;
}
.quote-box-info {
    font-weight: 300;
    font-size: 1.1em;
}
.btn-box{
    display: flex;
    width: 100%;
    height: 8vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.get-btn {
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    font-size: 1.5rem;
    background-color: transparent;
    padding: 4px 15px;
    border-radius: 25px;
    border: 1px solid #ffffff;
    font-weight:300;
    text-decoration: none;
}
.get-btn:hover {
    background-color: #ffffff;
    color: #2C3333;
    cursor: pointer;
    transition: 0.5s;
}
.enq-btn {
    color: #2C3333;
    font-size: 1.2rem;
    margin: 10px;
    font-size: 1.5rem;
    background-color: white;
    padding: 4px 15px;
    border-radius: 25px;
    border: 1px solid #ffffff;
    font-weight:300;
    text-decoration: none;
}
.enq-btn:hover {
    background-color:#2C3333;;
    color: white;
    cursor: pointer;
    transition: 0.5s;

}
.pkg-btn{
    padding: 0px 8px;
    margin-top: 5px;
    border-radius: 25px;
    border: 2px solid  #2C3333 ;
    text-decoration: none;
    font-weight:300;
    color: #2C3333;
}
.pkg-btn:hover{
    background-color: #2C3333;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.added-value{
    height: 5vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}.added-value p{
    font-size: 1.0em;
    font-weight: 300;
    color: white;
}


/***************************************/

.stats {
    height: 45vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
.stats-title {
    height: 12vh;
    width: 100%;
    color: #2e2e2d;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stats-title  {
    font-size: 3.2em;
    font-weight: 300;
}
.social {
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social-box {
    display: flex;
    width: 35%;
    align-items: center;
    flex-direction: column;
}
.social-box i {
    font-size: 3.0em;
}
.social-box p {
    margin : 4px;
}
.social-box-social {
    font-size: 2.0em;
    font-weight: 300;
    margin: 4px; 
}
.social-box-followers {
    font-weight: 400;
    color: #fa3131;
    font-size: 1.0em;
}
.social-box-growth {
    font-size: 0.85em;
    font-weight: 300;
    margin: 6px; 
}


/***************************************/
.footer{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2C3333;
    color: white;
}
.social-handle{
    width: 10vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.social-handle > a > i{
    font-size: 1.3em;
    color: white;
    text-decoration: none;
}
.social-handle i:hover{
    cursor: pointer;
    transition: 0.4s;
    opacity: 0.5;
}
#footer-copy{
    font-weight: 300;
    font-size: 0.8rem;
}

@media (max-width:800px) {

    *{ box-sizing: border-box;
        padding:0;
        margin:0;
    }

    .service {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .service-body{
        flex-direction: column;
        height: auto;
    }
    .service-box {
        height: 100%;
        width: 70%;
        margin: 10px;
    }
    .quote {
        height: 100%;
        width: 100%;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .quote-body {
        height: 100%;
        width: 100%;
        flex-direction: column; 
    }
    .quote-box {
        width: 70%;
        height: 100%;
        margin: 10px;
    }
    .stats-title{
        margin-top: 10px;

    }
    .social{
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 10px;
    }
    .social-box{
        height: 100%;
        text-align: center;
        margin: 10px;

    }
    .stats
    {
        height: 100%;
        width: 100%;
    }
    .footer{
        height: 100%;
        width: 100%;
        padding-bottom: 10px;
    }
    .social-handle{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .nav{
        height: 100%;
        width: 100%;
        padding: 10px;
        flex-direction: column;
        padding-bottom: 10px; ;

      } 
      .nav p{font-size: 1.5em;
        font-weight: bolder;
    } 
      .page-item{
       background: #2e2e2d;
        padding: 0.2em;
        border:1px solid white;

      }
      .btn-box{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }


}

