* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #2C3333;
  font-family: 'Roboto', sans-serif;
  margin: 0;  
}

.nav {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: 300;
}

.pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.pages a {
  font-size: 1.2rem;
  text-decoration: none;
  margin: 10px;
  color: white;
}

.pages a:hover {
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.5;
}

.nav p {
  font-size: 1.5rem;
  color: white;
}

.heading {
  height: 82vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.left {
  width: 35%;
}

.socialmedia {
  margin: 25px 0;
}

.socialmedia a {
  color: white;
  padding: 15px;
  padding-bottom: 6.5px;
  margin-right: 12px;
  border-radius: 20px;
  border: 0.8px solid white;
  font-size: 1.7em; /* Ensure icons are large enough */
  transition: all 0.5s ease;
}

.socialmedia a:hover {
  background-color: white;
  color: #2e2e2d;
}

.left > h2 {
  color: white;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
}
.left > p{
  color: white;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 1.1em;
}

.connect {
  font-family: 'Roboto', sans-serif;
  width: 180px;
  height: 50px;
  border: 0.8px solid gold;
  background-color: transparent;
  color: white;
  font-weight: 300;
  border-radius: 20px;
  margin: 10px 0;
  font-size: 1.2rem;
  transition: all 0.5s ease;
}

.connect:hover {
  background-color: white;
  color: rgb(31, 37, 58);
  border: 2px solid transparent;
  cursor: pointer;
}

/* Right Section */
.right {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right img {
  width: 55%;
  height: 55%;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid white;
}

.footer {
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #2C3333;
  color: white;
}

.social-handle {
  gap: 2em;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.social-handle a {
  font-size: 1.3em;
  color: white;
  text-decoration: none;
  transition: opacity 0.4s ease; /* Add transition to opacity */
}

.social-handle a:hover {
  opacity: 0.5;
}

#ad-line {
  color: gold;
  background-color: black;
  padding: 10px;
  text-align: center;
}

#ad-line a {
  color: white;
  font-style: bold;
}

/* Responsive Styles */
@media (max-width: 800px) {
  .heading {
      flex-direction: column;
      flex-direction: column;
      flex-wrap: nowrap;
    flex-direction: column;
      flex-wrap: nowrap;
    height: fit-content;
  }

  .left {
    width: 100%;
    padding: 5em;
    text-align: center;
  }

  .left h2 {
    padding: 1em 0;
  }

  .left p {
    width: auto;
  }

  .pradumna {
    font-size: 1.2em;
  }

  .nav p {
    font-size: 1.5em;
    font-weight: bolder;
  }

  .socialmedia {
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 3em;
  }

  .nav {
    flex-direction: column;
    margin: 1.5em 0;
  }

  .page-item {
    background: #2e2e2d;
    padding: 0.2em;
    border: 1px solid white;
  }

  .social-handle {
    gap: 2em;
  }
}