* {
    padding: 0;
    margin: 0;
}

.main {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

/*** NAVBARK******/

.nav {
    background-color: #2C3333;
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.pages a {
    font-size: 1.2rem;
    text-decoration: none;
    margin: 10px;
    color: white;
    font-weight: 300;

}

.pages a:hover {
    cursor: pointer;
    transition: 0.4s;
    opacity: 0.5;
}

.nav p {
    font-size: 1.5rem;
    text-decoration: none;
    margin: 10px;
    color: white;
    font-weight: 300;
}

/**********/

.quote {
    height: 170vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2C3333;
}

.quote-title {
    height: 10vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.quote-title h2 {
    font-size: 2.5em;
    font-weight: 300;
    color: white;
}

.quote-body {
    display: flex;
    width: 100%;
    height: 75vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.quote-box {
    width: 16%;
    padding: 10px;
    height: 75%;
    color: #2C3333;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #eae7dc;
    border-radius: 15px;
    background-color: #ffffff;
}

.quote-box i {
    margin-top: 15px;
    margin-bottom: 10px;
    height: 10Vh;
    width: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2.0em;
    color: #2C3333;
    border: 2px solid #2C3333;
}

.quote-box p,
h3 {
    margin: 6px;
}

.quote-box-title {
    font-weight: 300;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.quote-box-at {
    font-weight: 400;
}

.quote-box-price {
    font-weight: 300;
    margin: 4px;
    color: #ff3636;
    font-size: 3.5em;
}

.quote-box-info {
    font-weight: 300;
    font-size: 1.1em;
}

.btn-box {
    display: flex;
    width: 100%;
    height: 8vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.get-btn {
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    font-size: 1.5rem;
    background-color: transparent;
    padding: 4px 15px;
    border-radius: 25px;
    border: 1px solid #ffffff;
    font-weight: 300;
    text-decoration: none;
}

.get-btn:hover {
    background-color: #ffffff;
    color: #2C3333;
    cursor: pointer;
    transition: 0.5s;
}

/************DO DONT***/

.do-dont {
    display: flex;
    width: 100%;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #2C3333
}

.do-title {
    height: 15vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.do-title h2 {
    font-size: 2.5em;
    font-weight: 300;
    color: #2C3333
}

.do-body {
    display: flex;
    height: 40vh;
    width: 100%;
    justify-content: space-evenly;
}

.child-box {
    width: 30%;
}

.child-box h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #2C3333;
}

.child-box p {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 1.1em;
}

.added-value {
    height: 5vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.added-value p {
    font-size: 1.0em;
    font-weight: 300;
    color: white;
}


/***************************************/
.footer {
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2C3333;
    color: white;
}

.social-handle {
    width: 10vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.social-handle>a>i {
    font-size: 1.3em;
    color: white;
    text-decoration: none;
}

.social-handle i:hover {
    cursor: pointer;
    transition: 0.4s;
    opacity: 0.5;
}

#footer-copy {
    font-weight: 300;
    font-size: 0.8rem;
}

.social-handle i {
    font-size: 1.3em;
}

@media (max-width:800px) {

    .quote {
        height: 100%;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .quote-body {
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    .quote-box {
        width: 70%;
        height: 100%;
        margin: 10px;
    }

    .nav {
        height: 100%;
        width: 100%;
        padding-top: 10px;
        flex-direction: column;
        padding-bottom: 10px;
        ;

    }

    .nav p {
        font-size: 1.5em;
        font-weight: bolder;
    }

    .page-item {
        background: #2e2e2d;
        padding: 0.2em;
        border: 1px solid white;

    }

    .btn-box {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .quote-title {
        height: 100%;
        width: 80%;
        font-size: 0.7em;
        margin-top: 10px;
        ;
        margin-bottom: 10px;
        ;

    }

    .do-dont {
        height: 100%;
        width: 100%;
    }

    .do-body {
        height: 100%;
        width: 100%;
    }

    .do-title h1 {
        font-size: 2.0em;
        width: 90%;
        font-weight: 300;
    }

    .footer {
        height: 100%;
        width: 100%;
        padding-bottom: 10px;
    }

    .social-handle {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

}